.todo {
  grid-area: todo;
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 22px;
  }
}

.backline {
  flex-grow: 1;
  background: repeating-linear-gradient(
    #fff,
    #fff 50px,
    #f3f2f1 50px,
    #f3f2f1 51px
  );
}

