.side {
  grid-area: side;
  background-color: var(--primary-color);
}

.sidebar {
  margin-top: 150px;
}

.item a {
  color: #353331;
  font-weight: 600;
  text-decoration: none;
  display: block;
}

.item a.active {
  color: var(--secondaty-color);
}

.item {
  padding: 10px;
}

.item:hover {
  background-color: #fff;
}
