.add {
  background-color: #f3f2f1;
  height: 50px;
  border-radius: 8px;
  color: #0078d7;
  display: flex;
  align-items: center;
  position: relative;
  .btnIcon {
    width: 15px;
    height: 15px;
    margin-left: 10px;
  }

  .btnText {
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
  }
}

.addInput {
  height: 80px;
  align-items: flex-start;
  padding-top: 10px;
}


input {
  display: block;
  width: 100%;
  margin-left: 40px;
  margin-right: 40px;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid #bdbdbd;
  border-bottom: 1px solid #0078d7;
}

.btnAddTask {
  position: absolute;
  right: 20px;
  bottom: 5px;
}

.inputForm {
  flex-basis: 92%;
}